<!-- Partiel de bannière -->

<div id="parcours-banner" style="background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.5)),url(<%= image_path 'desk3.jpg'%>)">
  <div id="banner-content">
    <div id="main-title-box">
      <h1>Mon parcours</h1>
    </div>
  </div>
</div>

<div class="container text-center">
  <%= image_tag "gui", id: "photo-gui", alt: "guillaume dutti en tenue pro", width: 200 %>
</div>

<!-- Contenu de la page -->



<div class="timeline">
  <ul>
    <li>
      <div class="content">
        <h3>Nouvelle date</h3>
        <p>Plein de super texte trop coool qui se repète plusieurs fois et c'est super car ca donne pleins de mots sympa comme la fois où j'ai écris des choses cools sur mon site dans une aute balise.</p>
      </div>
      <div class="time">
        <h4>1990 janvier</h4>
      </div>
    </li>
    <li>
      <div class="content">
        <h3>Nouvelle date</h3>
        <p>Plein de super texte trop coool qui se repète plusieurs fois et c'est super car ca donne pleins de mots sympa comme la fois où j'ai écris des choses cools sur mon site dans une aute balise.</p>
      </div>
      <div class="time">
        <h4>1990 janvier</h4>
      </div>
    </li>
    <li>
      <div class="content">
        <h3>Nouvelle date</h3>
        <p>Plein de super texte trop coool qui se repète plusieurs fois et c'est super car ca donne pleins de mots sympa comme la fois où j'ai écris des choses cools sur mon site dans une aute balise.</p>
      </div>
      <div class="time">
        <h4>1990 janvier</h4>
      </div>
    </li>
    <li>
      <div class="content">
        <h3>Nouvelle date</h3>
        <p>Plein de super texte trop coool qui se repète plusieurs fois et c'est super car ca donne pleins de mots sympa comme la fois où j'ai écris des choses cools sur mon site dans une aute balise.</p>
      </div>
      <div class="time">
        <h4>1990 janvier</h4>
      </div>
    </li>
    <li>
      <div class="content">
        <h3>Nouvelle date</h3>
        <p>Plein de super texte trop coool qui se repète plusieurs fois et c'est super car ca donne pleins de mots sympa comme la fois où j'ai écris des choses cools sur mon site dans une aute balise.</p>
      </div>
      <div class="time">
        <h4>1990 janvier</h4>
      </div>
    </li>
    <div style="clear: both;"></div>
  </ul>
</div>

