<!-- Partiel de bannière -->

<!-- Contenu de la page -->

<div class="container">
  <h1>Référencement Youtube</h1>
  <p>Vous avez créé une chaîne YouTube et publié vos premières vidéos, mais pour le moment le nombre de vues ne décolle pas ? Cet article est fait pour vous ! La vidéo est de plus en plus présente sur internet et sur les réseaux sociaux. En témoigne notamment le phénomène des « youtubers » ou l’apparition des vidéos autoplay sur Facebook. Youtube, qui appartient à Google, est aujourd’hui le plus grand site d’hébergement de vidéos au monde. Plus de 100 heures de vidéos sont ajoutées à la minute.</p>
</div>
