.services-bloc {
  padding-top: 50px;
  padding-bottom: 30px;

  h2 {
    margin-bottom: 40px;
  }
}


.home-card {
  // padding-right: 20px;
  // padding-left: 20px;

  z-index: 5;
  background-color: white;
  height: 300px;
  border-radius: 4px;
  margin-bottom: 20px;
  border: 1px solid rgba(0,0,0,0.2);
  h4 {
    color: white;
    font-weight: bolder;
    text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  }
}

.home-card:hover {
  cursor: pointer;
  box-shadow: 10px 10px 100px rgba(30, 30, 30, 0.4);
  img {
    width: 10px;
  }
}



.card-up {
  height: 150px;
  background-size: cover;
  padding-top: 1px;
  padding-left: 10px;
}

.card-down {
  padding: 15px 40px 0 40px;
}


