#home-banner {
  margin-top: -70px;
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#banner-content {
  width: 70%;
  color: white;
  text-align: center;
}
